<!-- Start Left menu area -->
<div class="left-sidebar-pro">
    <nav id="sidebar" class="">
        <div class="sidebar-header">
            <a href="/back-office/Node-Admin-Dashboard/dashboard"><img class="main-logo" src="/admin/img/logo/logosn.png" alt="" /></a>
            <strong><a href="/back-office/Node-Admin-Dashboard/dashboard"><img src="/admin/img/logo/logosn.png" alt="" /></a></strong>
        </div>
        <div class="left-custom-menu-adp-wrap comment-scrollbar">
            <nav class="sidebar-nav left-sidebar-menu-pro">
                <ul class="metismenu" id="menu1">
                    <li class="active">
                        <a href="/back-office/Node-Admin-Dashboard/dashboard" title="Dashboard">
                            <span class="educate-icon educate-home icon-wrap" title="Dashboard"></span>
                            <span class="mini-click-non">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a class="has-arrow" href="#" aria-expanded="false" title="Pages">
                            <span class="educate-icon educate-pages icon-wrap"></span>
                            <span class="mini-click-non">Pages</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a href="/back-office/Node-Admin-Login/login" title="Login"><span class="mini-sub-pro">Login</span></a></li>

                            <!--<li><a href="/back-office/Node-Admin-Registration/registration" title="Register"><span class="mini-sub-pro">Register</span></a></li>-->

                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="#" aria-expanded="false" title="Blog">
                            <span class="educate-icon educate-course icon-wrap"></span>
                            <span class="mini-click-non">Blog</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a href="/back-office/Node-Admin-Addarticle/addarticle" title="Add Article"><span class="mini-sub-pro">Add Article</span></a></li>
                            <li><a href="/back-office/Node-Admin-Viewarticles/viewarticles" title="View Articles"><span class="mini-sub-pro">View Articles</span></a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </nav>
</div>
<!-- End Left menu area -->