<!doctype html>
<html class="no-js" lang="en">

<% include header.ejs%>

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Start Left menu area -->
<% include admin_sidebar.ejs%>
<!-- End Left menu area -->

<!-- Start Welcome area -->
<!-- Mobile Menu -->
    <% include admin_header.ejs%>
<!-- Mobile Menu end -->
    <% include admin_innerblock.ejs%>

<!--Footer-->
<% include admin_footer.ejs%>
</body>

</html>